@import url("http://fonts.googleapis.com/css?family=Lato:300,400");

body {
    background-image:url('../img/bg.png');
    background-repeat:repeat;
    font-family:Lato;
}
p {
    margin: 0 0 20px;
}
.navbar {
    background-image:url('../img/bg.png');
    background-repeat:repeat;
}
.jumbotron {
    background-color: transparent;
    padding: 70px 0 0 0;
}
.footer {
    margin-top: 40px;
    padding: 40px 0;
}
.event {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 30px;
}
.event + .event {
    padding-top: 30px;
}
.event .date {
    margin-bottom: 7px;
    color: #2a6496;
}